LOAD DATA 
INFILE '/tmp/obiee.ENV.du.tsv.stage'
BADFILE '/tmp/obiee.ENV.du.bad'
DISCARDFILE '/tmp/obiee.ENV.du.discard'
APPEND
INTO TABLE BIEE_BIPLATFORM.RM_NQ_TEMP_HISTORY
FIELDS TERMINATED BY '\t'
OPTIONALLY ENCLOSED BY '"' AND '"'
(
  FMW_ENV CHAR(4000)
, SAMPLE_TIME_EPOCH CHAR(4000)
, SAMPLE_TIMESTAMP DATE 'YYYY-MM-DD"T"HH24:MI:SS'
, FMW_COMPONENT CHAR(4000)
, BYTES_USED CHAR(4000)  
) 
